<footer class="footer">
  <div class="container footer-container">
    <div class="footer-container-social">
      <p class="footer-logo">LLOYD<span>JEFFERSON.</span></p>
      <ul class="footer-socials-list">
        <li class="footer-socials-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            class="socials-link"
          >
            Instagram
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            class="socials-link"
          >
            Facebook
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener noreferrer"
            class="socials-link"
          >
            LinkedIn
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://henrylytvyn.github.io/bitemates-project-js/"
            target="_blank"
            rel="noopener noreferrer"
            class="socials-link"
          >
            GitHub
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-madeBy">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
