<div class="container">
  <section class="header">
    <div class="header-container">
      <p class="header-text">
        LLOYD<span class="header-span">JEFFERSON.</span>
      </p>
      <nav class="header-nav-item">
        <ul class="header-list">
          <li class="header-item">
            <a class="header-nav-item-link" href="#about-me">About me</a>
          </li>
          <li class="header-item">
            <a class="header-nav-item-link" href="#projects">Projects</a>
          </li>
          <li class="header-item">
            <a class="header-nav-item-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="burger-btn" aria-label="Open menu">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>
    </div>
  </section>
</div>
