 <div class="container"> 
 <section class="hero">
   <div class="decor-background">
  <div class="decor-item decor-item-1"></div>
   </div>
        <h1 class="hero-title">
          HELLO, I AM 
          <img src="/img/hero/img.jpg" alt="developer" class="hero-img">
          </h1>
          <span class="hero-title-span">FULLSTACK DEVELOPER</span>
        <div class="order-and-text">
        <div class="order-wrapper">
          <div class="order-link">
        <span class="arrow-icon"><svg width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM29.7071 8.7071C30.0976 8.31658 30.0976 7.68341 29.7071 7.29289L23.3431 0.92893C22.9526 0.538406 22.3195 0.538406 21.9289 0.92893C21.5384 1.31945 21.5384 1.95262 21.9289 2.34314L27.5858 8L21.9289 13.6569C21.5384 14.0474 21.5384 14.6805 21.9289 15.0711C22.3195 15.4616 22.9526 15.4616 23.3431 15.0711L29.7071 8.7071ZM1 8L1 9L29 9L29 8L29 7L1 7L1 8Z" fill="#00B068" />
</svg></span>
 <a href="#work-together" class="order-btn">Order the project</a>
 <div class="green-container"></div>
 </div>
 </div>
        <p class="hero-text">
          I work with people all over the world to create
          <span class="hero-text-span">impressive</span> and
          <span class="hero-text-span">functional websites</span>
          that reflect each client’s unique personality.
        </p>
        </div>
        </div>
        <ul class="hero-list">
          <li class="hero-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
          <li class="hero-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook</a
            >
          </li>
          <li class="hero-list-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank"
              rel="noopener noreferrer"
              >Linkedin</a
            >
          </li>
          <li class="hero-list-item">
             <a
              href="https://github.com/HenryLytvyn/bitemates-project-js"
              target="_blank"
              rel="noopener noreferrer"
              >GitHub</a
            >
          </li>
        </ul>
    </section>
  </div>