 <section class="hero">
    <div class="hero-bg">
        <svg width="332" height="704" viewBox="0 0 332 704" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_2113_744)" filter="url(#filter0_f_2113_744)">
    <rect x="288.949" y="605.248" width="9.15855" height="9.15855" rx="1" transform="rotate(-180 288.949 605.248)" fill="#00B068" />
    <rect x="259.184" y="492.158" width="9.15855" height="9.15855" rx="1" transform="rotate(-180 259.184 492.158)" fill="#00B068" />
    <rect x="220.902" y="548.387" width="4.57928" height="4.57928" rx="1" transform="rotate(-180 220.902 548.387)" fill="#00B068" />
    <rect x="318" y="566.67" width="4.57928" height="4.57928" rx="1" transform="rotate(-180 318 566.67)" fill="#00B068" />
    <rect x="192.957" y="614.263" width="9.15855" height="9.15855" rx="1" transform="rotate(-180 192.957 614.263)" fill="#00B068" />
    <rect x="153" y="527.654" width="4.57928" height="4.57928" rx="1" transform="rotate(-180 153 527.654)" fill="#00B068" />
    <rect x="261.16" y="132.16" width="10.1602" height="10.1602" rx="1" transform="rotate(-180 261.16 132.16)" fill="#00B068" />
    <rect x="220.672" y="21.1592" width="10.1602" height="10.1602" rx="1" transform="rotate(-180 220.672 21.1592)" fill="#00B068" />
    <rect x="308.672" y="173.24" width="15.2404" height="15.2404" rx="1" transform="rotate(-180 308.672 173.24)" fill="#00B068" />
    <rect x="184.672" y="79.0801" width="5.08012" height="5.08012" rx="1" transform="rotate(-180 184.672 79.0801)" fill="#00B068" />
    <rect x="325.672" y="99.3613" width="5.08012" height="5.08012" rx="1" transform="rotate(-180 325.672 99.3613)" fill="#00B068" />
    <rect x="92.0801" y="244.427" width="5.08012" height="5.08012" rx="1" transform="rotate(-180 92.0801 244.427)" fill="#00B068" />
    <rect x="153.672" y="152.16" width="10.1602" height="10.1602" rx="1" transform="rotate(-180 153.672 152.16)" fill="#00B068" />
    <rect x="112.672" y="56.0801" width="5.08012" height="5.08012" rx="1" transform="rotate(-180 112.672 56.0801)" fill="#00B068" />
  </g>
  <defs>
    <filter id="filter0_f_2113_744" x="0" y="-6" width="332" height="716" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_2113_744" />
    </filter>
    <clipPath id="clip0_2113_744">
      <rect width="320" height="704" fill="white" transform="translate(6)" />
    </clipPath>
  </defs>
</svg>
        </div>
    </div>
      <div class="hero-container">
        <h1 class="hero-title">
          HELLO, I AM 
          <img src="../img/hero/img.jpg" alt="developer" class="hero-img">
          <span class="hero-title-span">FULLSTACK DEVELOPER</span>
        </h1>
      
        <div class="order-wrapper">
        <span class="arrow-icon"><svg width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM29.7071 8.7071C30.0976 8.31658 30.0976 7.68341 29.7071 7.29289L23.3431 0.92893C22.9526 0.538406 22.3195 0.538406 21.9289 0.92893C21.5384 1.31945 21.5384 1.95262 21.9289 2.34314L27.5858 8L21.9289 13.6569C21.5384 14.0474 21.5384 14.6805 21.9289 15.0711C22.3195 15.4616 22.9526 15.4616 23.3431 15.0711L29.7071 8.7071ZM1 8L1 9L29 9L29 8L29 7L1 7L1 8Z" fill="#00B068" />
</svg></span>

 <a href="#work-together" class="order-btn">Order the project</a>
 <div class="green-container"></div>
</div>
        <p class="hero-text">
          I work with people all over the world to create
          <span class="hero-text-span">impressive</span> and
          <span class="hero-text-span">functional websites</span>
          that reflect each client’s unique personality.
        </p>
        <ul class="hero-list">
          <li class="hero-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
          <li class="hero-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook</a
            >
          </li>
          <li class="hero-list-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank"
              rel="noopener noreferrer"
              >Linkedin</a
            >
          </li>
          <li class="hero-list-item">
             <a
              href="https://github.com/HenryLytvyn/bitemates-project-js"
              target="_blank"
              rel="noopener noreferrer"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>