<div class="container">
  <section class="mobile-menu visually-hidden">
    <div class="mobile-menu-bg"></div>
    <div class="mobile-menu-container">
      <div class="mobile-menu-header">
        <p class="mobile-menu-logo">
          LLOYD<span class="mobile-menu-logo-span">JEFFERSON.</span>
        </p>
        <button class="mobile-menu-close" aria-label="Close menu">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 8L8 24"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 8L24 24"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <div class="mobile-menu-bg-decor"></div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li><a href="#about">About me</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </section>
</div>
