<section id="my-projects" class="my-projects">
  <div class="container">
    <h2 class="title"><span>my</span> projects</h2>
    <ul class="list">
      <li class="item_list">
        <img
          class="item_img"
          alt=""
          src="../img/my-projects/wallet_webservice.jpg"
          srcset="../img/my-projects/wallet_webservice_x2.jpg 2x"
        />
        <p class="item_text">React, JavaScript, Node JS, Git</p>
        <div class="div_tablet_desktop_vision">
          <h3 class="item_h3">Wallet webservice</h3>
          <button class="btn_visit tablet_desktop_vision" type="button">
            VISIT<svg width="18" height="18" class="item_svg">
              <use href="../img/my-projects/arrows.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
        <div class="item_div_link mobile-only">
          <button class="btn_visit" type="button">
            VISIT<svg width="18" height="18" class="item_svg">
              <use href="../img/my-projects/arrows.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="item_list">
        <img
          class="item_img"
          alt=""
          src="../img/my-projects/green_harvest.jpg"
          srcset="../img/my-projects/green_harvest_x2.jpg 2x"
        />
        <p class="item_text">React, JavaScript, Node JS, Git</p>

        <div class="div_tablet_desktop_vision">
          <h3 class="item_h3">Green harvest webservice</h3>
          <button class="btn_visit tablet_desktop_vision" type="button">
            VISIT<svg width="18" height="18" class="item_svg">
              <use href="../img/my-projects/arrows.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
        <div class="item_div_link mobile-only">
          <button class="btn_visit" type="button">
            VISIT<svg width="18" height="18" class="item_svg">
              <use href="../img/my-projects/arrows.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="item_list">
        <img
          class="item_img"
          alt=""
          src="../img/my-projects/english_excellence.jpg"
          srcset="../img/my-projects/english_excellence_x2.jpg 2x"
        />
        <p class="item_text">React, JavaScript, Node JS, Git</p>
        <div class="div_tablet_desktop_vision">
          <h3 class="item_h3">English Exellence website</h3>
          <button class="btn_visit tablet_desktop_vision" type="button">
            VISIT<svg width="18" height="18" class="item_svg">
              <use href="../img/my-projects/arrows.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
        <div class="item_div_link mobile-only">
          <button class="btn_visit" type="button">
            VISIT<svg width="18" height="18" class="item_svg">
              <use href="../img/my-projects/arrows.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <div class="div_btn_load_more">
      <button class="btn_load_more" type="button">
        load more<svg width="107" height="2" class="btn_load_svg">
          <use href="../img/my-projects/arrows.svg#icon-Arrow-11"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
